In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [2]:
def select_features(X_train,Y_train,X_test):
    fs = SelectKBest(score_func=f_regression,k='all')
    fs.fit(X_train,Y_train)
    X_train_fs= fs.transform(X_train)
    X_test_fs= fs.transform(X_test)
    return X_train_fs,X_test_fs,fs

In [3]:
dataset = pd.read_csv("Final Ghana covid dataset.csv")
X = dataset.drop(['date','new_deaths'], axis=1)
Y = dataset.loc[:,['new_deaths']]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.20, random_state=123)

In [4]:
X_train_fs,X_test_fs,fs= select_features(X_train,Y_train.values.ravel(),X_test)
np.seterr(divide='ignore',invalid='ignore')

C:\Users\Ama Asantewaa\anaconda3\envs\tf\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:294: RuntimeWarning: invalid value encountered in sqrt
  X_norms = np.sqrt(row_norms(X.T, squared=True) -
C:\Users\Ama Asantewaa\anaconda3\envs\tf\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:301: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
C:\Users\Ama Asantewaa\anaconda3\envs\tf\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:301: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms
C:\Users\Ama Asantewaa\anaconda3\envs\tf\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:306: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [5]:
for i in range(len(fs.scores_)):
    print('Feature %d: %f' %(i,fs.scores_[i]))

Feature 0: 3.262126
Feature 1: 233.149526
Feature 2: 1.218876
Feature 3: 1.946710
Feature 4: 66.309567
Feature 5: 2.233528
Feature 6: 2.301062
Feature 7: 0.864499
Feature 8: 0.632717
Feature 9: 0.417082
Feature 10: nan
Feature 11: nan
Feature 12: 0.000000
Feature 13: 0.000000
Feature 14: 0.000000
Feature 15: 0.000000
Feature 16: nan
Feature 17: 0.000000
Feature 18: nan
Feature 19: nan
Feature 20: 0.000000
Feature 21: nan
Feature 22: 0.000000
Feature 23: 0.000000
Feature 24: nan
Feature 25: nan

In [6]:
X.head(3)

,total_cases,new_cases,total_deaths,reproduction_rate,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.33,...,12.0,298.245,4.97,0.3,7.7,41.047,0.9,64.07,0.611,0.0
1,6.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.89,...,12.0,298.245,4.97,0.3,7.7,41.047,0.9,64.07,0.611,0.0
2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.44,...,12.0,298.245,4.97,0.3,7.7,41.047,0.9,64.07,0.611,0.0

In [7]:
print(X.columns.values)

['total_cases' 'new_cases' 'total_deaths' 'reproduction_rate'
 'positive_rate' 'total_vaccinations' 'people_vaccinated'
 'people_fully_vaccinated' 'new_vaccinations' 'stringency_index'
 'population' 'population_density' 'median_age' 'aged_65_older'
 'aged_70_older' 'gdp_per_capita' 'extreme_poverty'
 'cardiovasc_death_rate' 'diabetes_prevalence' 'female_smokers'
 'male_smokers' 'handwashing_facilities' 'hospital_beds_per_thousand'
 'life_expectancy' 'human_development_index' 'excess_mortality']

In [8]:
df2=dataset.drop(['population','population_density','median_age','aged_65_older'
,'aged_70_older','gdp_per_capita','extreme_poverty'
,'cardiovasc_death_rate','diabetes_prevalence','female_smokers'
,'male_smokers','handwashing_facilities','hospital_beds_per_thousand'
,'life_expectancy','human_development_index','excess_mortality'], axis=1)

In [9]:
print(df2.columns.values)

['date' 'total_cases' 'new_cases' 'total_deaths' 'new_deaths'
 'reproduction_rate' 'positive_rate' 'total_vaccinations'
 'people_vaccinated' 'people_fully_vaccinated' 'new_vaccinations'
 'stringency_index']

In [10]:
df2.to_csv("new deaths dataset.csv",index=False)